<!DOCTYPE html>
<html>
<head>
    <title>Lab Four</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
</head>
<body>

<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/rajinder">Rajinder</a></li>
        <li><a href="/geeta">Geeta</a></li>
        <li><a href="/romika">Romika</a></li>
        <li><a href="/ashu">Ashu</a></li>

    </ul>
</nav>