<%- include partials/header.ejs %>

<h1>About</h1>
<p>This page is a brief description of my family.</p>
<div>
    <p>I am from Ludhiana, India. I have a nuclear family. In mine family we are four members. My Father,Mother,
    me and also mine younger Brother.</p>
</div>
<div>
    Go through the  all tabs to learn more about each of them.
</div>

<%include partials/footer.ejs%>