<%- include partials/header.ejs %>

<h1>My Brother</h1>

<div>
    <p>My Brother name is ashu. He also lives in India with Parents.<br>
        He is my Younger Brother. He loves me very much. Now he is doing Bachelor of Business Administration in India.<br>
       He is good in his studies. He is studying hard these days. He takes care of our family.<br>
      I love my Brother and he is simply amazing and i just couldn't imagine my life without him.</p>
</div>

<%include partials/footer.ejs%>