<%- include partials/header.ejs %>

<h1>My Mother</h1>

<div>
    <p> My Mother Name is Geeta. My Mother also lives in India.<br>
    My Mother is the best mother in the whole world.She gives me a life. She is very Good and kind.<br>
    Sometimes she scolds me but if she don't do then i would be walking on a wrong way. <br>
    She loves me a lot. She never hurts anyone. My Mother keeps me always smiling<br>
    In The last i can say that!<br>
        "A Mother is she who can takes the place of all others,<br>
        but whose place no one else can take" </p>
</div>

<%include partials/footer.ejs%>