<%- include partials/header.ejs %>

<h1>My Dad</h1>

<div>
    <p> My Father name is Rajinder Bhatia. He has his own business in India. My father is a man like no other.<br>
     He gave me life, nurtured me, taught me, dressed me, fought for me, kissed me
    but most importantly he loved me unconditionally <br> There are enough words i can say to describe!</p>
    <p>"Just how important My Father is to me" and what a powerful influence he continues to be"<br>
    The last but not the least I can say that "I love You My Dad"
    May God Bless Him</p>
</div>

<%include partials/footer.ejs%>