<%- include partials/header.ejs %>

<h1>That's me</h1>
<div>
    <p> My Self Romika. Mine nick name is Ruhi<br>
        I am studying Computer Programming in Georgian College.<br>
        My Mother and Father is behind my success
        I can die for them</p>
</div>

<%include partials/footer.ejs%>